
#app {
  height: 100vh;
  width: 100vw;
}

[v-cloak] {
  display: none !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  justify-content: center;
  align-items: center;

  height: calc(100vh - 56px);
  overflow-y: auto;
  width: 100%;
  padding-bottom: 50px;
}

.img-container {
  margin: 10px;
  margin-top: 20px;
}

.img-text {
  width: 100%;
  text-align: center;
  max-width: 100%;
  min-height: 36px;
}

.img-container.similar img {
  min-height: 300px;
  min-width: 200px;
  width: 200px;
  height: 300px;
}

.img-container.square img {
  width: 200px;
  height: 200px;
}

.img-container.rotated img {
  width: 300px;
  height: 200px;
}

.faq {
  color: blue;
  font-size: 90%;
  cursor: help;
}

.tt {
  text-align: left;
}

.tt .q, .tt .a {
  display: flex;
}

.tt p {
  float: left;
  margin-right: 10px;
  margin-bottom: 0 !important;
}

.form-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);

  display: flex;
  justify-content: center;
}

.form-text {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  outline: 1px solid #000;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}